.imagem-carrosel {
	object-fit: cover;
	object-position: 0 70%;
	height: 400px;
}

.fonte-cursiva {
  	font-family: 'Pacifico', cursive;
}

.cor-especial {
	color: darkred;
}

.background-cor-especial {
	background-color: darkred;
	color: white;
	transition: 0.1s;
}

.background-cor-especial:hover {
	color: white;
	font-weight: bold;
}

.card-largura {
	width: 18rem;;
}

.borda-cor-especial {
	border-color: darkred;
}

.img-card-padrao {
	object-fit: cover;
	height: 200px;
}